

<div class="advantages">
    <h2 class="advantages__title">Наши услуги</h2>
    <div class="advantages__content">
        <div data-aos="fade-up" data-aos-duration="2000" class="advantages__content-card">
            <div class="advantages__content-body">
                <h3 class="advantages__body-title blur">Предприятие «под ключ» <br>
                    <span>пекарни, столовые, кафе,
                        закусочные, кулинарии</span>
                </h3>
                <div class="advantages__body">
                    <p class="advantages__body-text"><span></span>Подбор помещения</p>
                    <p class="advantages__body-text"><span></span>Проект</p>
                    <p class="advantages__body-text"><span></span>Комплексное оснащение</p>
                    <p class="advantages__body-text"><span></span>Разработка меню</p>
                    <p class="advantages__body-text">
                        <span></span>Подготовка нормативной и технологической документации
                    </p>
                    <p class="advantages__body-text"><span></span>Подбор персонала</p>
                    <p class="advantages__body-text"><span></span>Сопровождение (при желании)</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="2000"  class="advantages__content-card">
            <div class="advantages__content-body">
                <h3 class="advantages__body-title">
                    Аудит предприятия
                </h3>
                <div class="advantages__body">
                    <p class="advantages__body-text"><span></span>Оценка меню, качества блюд и среднего чека на
                        соответствие заявленной концепции</p>
                    <p class="advantages__body-text"><span></span>Оценка уровня сервиса на предприятии.</p>
                    <p class="advantages__body-text"><span></span>Оценка корректности ведения документооборота на
                        предприятии.</p>
                    <p class="advantages__body-text"><span></span>Разработка меню</p>
                    <p class="advantages__body-text"><span></span>Оценка корректности работы с программой учета на
                        предприятии.</p>
                    <p class="advantages__body-text"><span></span>Оценка предприятия с точки зрения соответствия
                        нормам Роспотребнадзора</p>
                    <p class="advantages__body-text"><span></span>Технологический аудит</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="2000"  class="advantages__content-card">
            <div class="advantages__content-body">
                <h3 class="advantages__body-title">
                    Аттестация и обучение персонала
                </h3>
                <div class="advantages__body">
                    <p class="advantages__body-text"><span></span>Тестирование уровня профессионализма</p>
                    <p class="advantages__body-text"><span></span>Анализ теста, рекомендации</p>
                    <p class="advantages__body-text"><span></span>Обучение</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="3000"  class="advantages__content-card">
            <div class="advantages__content-body">
                <h3 class="advantages__body-title">
                    Обновление меню и ассортимента заведения
                </h3>
                <div class="advantages__body">
                    <p class="advantages__body-text"><span></span>АВС –анализ продаж</p>
                    <p class="advantages__body-text"><span></span>Обработка действующего меню</p>
                    <p class="advantages__body-text"><span></span>Разработка новинок</p>
                    <p class="advantages__body-text"><span></span>Предоставление технологических карт</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="2000"  class="advantages__content-card">
            <div class="advantages__content-body">
                <h3 class="advantages__body-title">
                    Мастер – классы и тренинги для профессионалов.
                </h3>
            </div>
        </div>
    </div>
</div>