<footer class="footer">
    <div class="container">
        <div class="footer__content">

            <a href="/" class="footer__content-logo">
                <img src="../images/svg/logo-white.svg" alt="Логотип компании">
            </a>

            <div class="footer__content-texts">

                <a href="https://telegram.im/@Mastercost" target="_blank" class="footer__content-body">
                    <img src="../images/svg/svg-telegram.svg" alt="Иконки телеграмма">
                    <span>@Mastercost</span>
                </a>

                <p class="footer__content-rights">© 2024. Все права защищены.</p>
            </div>
        </div>
    </div>
</footer>