
<header class="header">
    <div class="container">
        <div class="content">
            <a href="/" class="header__logo-link">
                <img src="../images/svg/logo.svg" alt="Логотип компании">
            </a>

            <ul class="header__items">
                <li class="header__items-list">
                    <a href="https://telegram.im/@Mastercost" target="_blank" class="header__items-link">Telegram</a>
                </li>
                <li class="header__items-list">
                    <a href="#advantages" class="header__items-link">Услуги</a>
                </li>
                <li class="header__items-list">
                    <a href="#aboutUs" class="header__items-link">О нас</a>
                </li>
            </ul>

        </div>
    </div>
</header>
